 # dhcpd.conf
#
# Sample configuration file for ISC dhcpd
#


{% if dns_enabled %}
option domain-name "kubernetes";
option domain-name-servers {{ router }};

ddns-updates on;
ddns-update-style interim;
ignore client-updates;
update-static-leases on;

default-lease-time 600;
max-lease-time 7200;

include "/etc/dhcp/ddns.key";

zone kubernetes. {
  primary 127.0.0.1;
  key DDNS_UPDATE;
}

zone 0.0.10.in-addr.arpa. {
  primary 127.0.0.1;
  key DDNS_UPDATE;
}
{% endif %}
{% if pxe_boot_enabled %}
allow booting;
#Prevent multiple IPs when PXE Booting
ignore-client-uids true;
{% endif %}
subnet {{ subnet }} netmask {{ netmask }} {
  range {{ dhcp_start_range }} {{ dhcp_end_range }};
  option routers {{ router }};
{% if pxe_boot_enabled %}
  option vendor-class-identifier "PXEClient";
  option vendor-encapsulated-options "Raspberry Pi Boot";
  option tftp-server-name "{{ router }}";
  option bootfile-name "bootcode.bin";
{% endif %}
}

